.questions{
    top:4rem ;
    position: absolute;
    width: 25rem;
    display: flex;
    left: 20rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 5px -1px rgb(224 108 121/30%);
}
.buttonSend{
    background: #e06c79;
    color: white;
   border-top-left-radius: 1.5625rem;
   border-bottom-left-radius: 1.5625rem;
   width: 12rem;
   height:2.5rem;
   margin:0.5rem;
   margin-right:0rem;
   border: none;
}