/* .paper {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
} */
.question {
    /* position: absolute; */
   
   
        border-style: solid;
        border-color: rgb(107 108 108);
        
        height:7rem;
        width: 30rem;
        margin:0.5rem;
        color: rgb(224 108 121);
    
} 