


.img{
	top:2rem;
	left: 2rem;
	width: 100rem;
	display: fixed;
	overflow: auto;
	float: right;
}
.button{
position :absolute;
color: rgb(167, 4, 31) important! ;
align-items: center;
}
.formList{
	position: relative;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
/* .div{
	clear: both;
	display: flex;
} */

#form{
	position: relative;
	top: 25rem;
	/* display: flex; */
	align-items: center;
	width: 100%;
	left:50rem;
	justify-self: center;
	/* width: 200px;
	height: 100px; */
}
#Group_176 {
	position: absolute;
	width: 199.826px;
	height: 170.55px;
	left: 73px;
	top: 59px;
	overflow: visible;
}
#Path_374_bc {
	fill: rgba(255,255,255,1);
}
.Path_374_bc {
	overflow: visible;
	position: absolute;
	width: 12.673px;
	height: 47.78px;
	left: 109.067px;
	top: 30.486px;
	transform: matrix(1,0,0,1,0,0);
}	#Path_375_bd {
	fill: rgba(255,255,255,1);
}
.Path_375_bd {
	overflow: visible;
	position: absolute;
	width: 12.672px;
	height: 42.556px;
	left: 91.1px;
	top: 39.848px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_376_be {
	fill: rgba(255,255,255,1);
}
.Path_376_be {
	overflow: visible;
	position: absolute;
	width: 12.672px;
	height: 32.839px;
	left: 73.321px;
	top: 49.352px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_377_bf {
	fill: rgba(224,108,121,1);
}
.Path_377_bf {
	overflow: visible;
	position: absolute;
	width: 86.235px;
	height: 88.228px;
	left: 51.74px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#sekergraph_bg {
	left: 0px;
	top: 87.506px;
	position: absolute;
	overflow: visible;
	width: 200.826px;
	height: 83.0434799194336px;
	line-height: 43.20000076293945px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: LevenimMT;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#__bh {
	left: 20rem;
	top: 2rem;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -1px;
	text-align: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(187,187,187,1);
}























/* 
.mediaViewInfo {
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__3 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_194_bt {
	fill: url(#Rectangle_194_bt);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectangle_194_bt {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 1079px;
	left: -0.5px;
	top: 2.5px;
}
#Group_177 {
	position: absolute;
	width: 199.826px;
	height: 170.55px;
	left: 73px;
	top: 61px;
	overflow: visible;
}
#Path_374_bv {
	fill: rgba(255,255,255,1);
}
.Path_374_bv {
	overflow: visible;
	position: absolute;
	width: 12.673px;
	height: 47.78px;
	left: 109.067px;
	top: 30.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_375_bw {
	fill: rgba(255,255,255,1);
}
.Path_375_bw {
	overflow: visible;
	position: absolute;
	width: 12.672px;
	height: 42.556px;
	left: 91.101px;
	top: 39.848px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_376_bx {
	fill: rgba(255,255,255,1);
}
.Path_376_bx {
	overflow: visible;
	position: absolute;
	width: 12.672px;
	height: 32.839px;
	left: 73.321px;
	top: 49.352px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_377_by {
	fill: rgba(224,108,121,1);
}
.Path_377_by {
	overflow: visible;
	position: absolute;
	width: 86.235px;
	height: 88.228px;
	left: 51.74px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#sekergraph_bz {
	left: 0px;
	top: 87.506px;
	position: absolute;
	overflow: visible;
	width: 200.826px;
	height: 83.0434799194336px;
	line-height: 43.20000076293945px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: LevenimMT;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#___ {
	left: 489px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(255,255,255,1);
}

#Rectangle_196 {
	opacity: 0.38;
	fill: rgba(41,41,41,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_196 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 97px;
	left: 444px;
	top: 568px;
}
#Rectangle_197 {
	opacity: 0.38;
	fill: rgba(41,41,41,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_197 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 97px;
	left: 444px;
	top: 740px;
}
#_1 {
	left: 593px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 49px;
	margin-top: -2px;
	text-align: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(212,84,103,1);
}

#_3 {
	left: 592px;
	top: 759px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 49px;
	margin-top: -2px;
	text-align: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(212,84,103,1);
}
#Rectangle_206 {
	fill: rgba(228,107,124,1);
	stroke: rgba(112,112,112,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_206 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 49px;
	left: 499px;
	top: 960px;
}
#__ {
	left: 562px;
	top: 968px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___6.html;
	cursor: pointer;
	line-height: 27px;
	margin-top: -1px;
	text-align: center;
	font-family: Assistant;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#_b {
	position: absolute;
	width: 3174px;
	height: 2244px;
	left: -943px;
	top: -382px;
	overflow: visible;
}
#Rectangle_195 {
	opacity: 0.38;
	fill: rgba(41,41,41,1);
	stroke: rgba(216,216,216,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_195 {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 97px;
	left: 444px;
	top: 396px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___4.html;
	cursor: pointer;
} */
