
	body{
    background:#2a2c2b;;
}
.button{
position :absolute;
color: rgb(167, 4, 31) important! ;
align-items: center;
}
#form{
    position: relative;
    top: 25rem;
    /* display: flex; */
    align-items: center;
    width: 100%;
    left:50rem;
    justify-self: center;
    /* width: 200px;
    height: 100px; */
}
	.mediaViewInfo {
		--web-view-name: Web 1920 – 2;
		--web-view-id: Web_1920__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__2 {
		position: absolute;
		width: 100%;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 2;
		--web-view-id: Web_1920__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	/* body {
		
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
		position: absolute;
		overflow: visible;
		width: 1921px;
		height: 1079px;
		left: -0.5px;
		top: 0.5px;
	} */
	#Rectangle_191_ba {
		fill: url(#Rectangle_191_ba);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Rectangle_191_ba {
		position: absolute;
		overflow: visible;
		width: 1921px;
		height: 1079px;
		left: -0.5px;
		top: 0.5px;
	}
	#Group_176 {
		position: absolute;
		width: 199.826px;
		height: 170.55px;
		left: 73px;
		top: 59px;
		overflow: visible;
	}
	#Path_374_bc {
		fill: rgba(255,255,255,1);
	}
	.Path_374_bc {
		overflow: visible;
		position: absolute;
		width: 12.673px;
		height: 47.78px;
		left: 109.067px;
		top: 30.486px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_375_bd {
		fill: rgba(255,255,255,1);
	}
	.Path_375_bd {
		overflow: visible;
		position: absolute;
		width: 12.672px;
		height: 42.556px;
		left: 91.1px;
		top: 39.848px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_376_be {
		fill: rgba(255,255,255,1);
	}
	.Path_376_be {
		overflow: visible;
		position: absolute;
		width: 12.672px;
		height: 32.839px;
		left: 73.321px;
		top: 49.352px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_377_bf {
		fill: rgba(224,108,121,1);
	}
	.Path_377_bf {
		overflow: visible;
		position: absolute;
		width: 86.235px;
		height: 88.228px;
		left: 51.74px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sekergraph_bg {
		left: 0px;
		top: 87.506px;
		position: absolute;
		overflow: visible;
		width: 200.826px;
		height: 83.0434799194336px;
		line-height: 43.20000076293945px;
		margin-top: -3.6000003814697266px;
		text-align: left;
		font-family: LevenimMT;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		color: rgba(255,255,255,1);
	}
	#__bh {
		left: 1075px;
		top: 502px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		line-height: 27px;
		margin-top: -1px;
		text-align: center;
		font-family: Assistant;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(187,187,187,1);
	}
	#_bi {
		left: 1127px;
		top: 629px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		line-height: 27px;
		margin-top: -1px;
		text-align: center;
		font-family: Assistant;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(187,187,187,1);
	}
	#Line_35 {
		fill: transparent;
		stroke: rgba(255,255,255,0.31);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_35 {
		overflow: visible;
		position: absolute;
		width: 460.192px;
		height: 1px;
		left: 730.5px;
		top: 540.891px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_36 {
		fill: transparent;
		stroke: rgba(255,255,255,0.31);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_36 {
		overflow: visible;
		position: absolute;
		width: 460.192px;
		height: 1px;
		left: 730.5px;
		top: 668.313px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_bl {
		left: 924px;
		top: 364px;
		position: absolute;
		overflow: visible;
		width: 73px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -1.5px;
		text-align: center;
		font-family: Assistant;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_192 {
		fill: rgba(228,107,124,1);
		stroke: rgba(112,112,112,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_192 {
		position: absolute;
		overflow: visible;
		width: 289px;
		height: 49px;
		left: 816px;
		top: 828px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Web_1920___3.html;
		cursor: pointer;
	}
	#Rectangle_193 {
		fill: rgba(228,107,124,1);
		stroke: rgba(112,112,112,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_193 {
		position: absolute;
		overflow: visible;
		width: 289px;
		height: 49px;
		left: 816px;
		top: 910px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Web_1920___1.html;
		cursor: pointer;
	}
	#_bo {
		left: 926px;
		top: 918px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		line-height: 27px;
		margin-top: -1px;
		text-align: center;
		font-family: Assistant;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#_bp {
		left: 936px;
		top: 836px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		line-height: 27px;
		margin-top: -1px;
		text-align: center;
		font-family: Assistant;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
